<body>
        <div class="hero-content">
            <div class="hero-content-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-content-wrap flex flex-column justify-content-center align-items-start">
                                <section class="featured-courses vertical-column courses-wrap">
        <div class="container">
            <div class="row mx-m-25">
                <div class="col-12 px-25">
                    <header class="heading flex flex-wrap justify-content-between align-items-center">
                        <h2 class="entry-title"><em>{{ user.username }}</em> Admin Dashboard</h2>
                    </header><!-- .heading -->
                </div><!-- .col -->
                
                <div class="col-12 px-25 flex justify-content-center">
                    <h3>Editors</h3>
                    <a class="btn" href="/admin/users">Manage Users</a>
                    <a class="btn" href="/admin/industries">Manage Community Industries</a>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
                                </section><!-- .courses-wrap -->
                        </div><!-- .hero-content-wrap -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
            </div><!-- .hero-content-hero-content-overlay -->
        </div><!-- .hero-content -->        
        </div>
</body>