<body>
    <div class="hero-content">
            <div class="hero-content-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-content-wrap flex flex-column justify-content-center align-items-start">
                            <div class="entry-content">
                            <h4>Contact Us</h4>
                            <form action="#" method="POST">
                                <div class="mb-3">
                                    <div class="col-span-2">
                                        <label for="first-name" class="form-label">First name</label>
                                        <div>
                                            <input type="text" class="form-control" name="first-name" id="first-name" autocomplete="given-name">
                                        </div>
                                    </div>
                                    <div class="col-span-2">
                                        <label for="last-name" class="form-label">Last name</label>
                                        <div>
                                            <input type="text" class="form-control" name="last-name" id="last-name" autocomplete="family-name" >
                                        </div>
                                    </div>                                    
                                    <div class="col-span-2">
                                        <label for="email" class="form-label">Email</label>
                                        <div>
                                            <input type="email" class="form-control" name="email" id="email" autocomplete="email" >
                                        </div>
                                    </div>
                                    <div class="col-span-2">
                                        <label for="phone-number" class="form-label">Phone number</label>
                                        <input type="tel" class="form-control" name="phone-number" id="phone-number" autocomplete="tel">
                                    </div>
                                    <div class="col-span-2">
                                        <label for="message" class="form-label">Message</label>
                                        <div>
                                            <textarea name="message" id="message" rows="4"></textarea>
                                        </div>
                                    </div>
                                    <div>
                                    <button type="submit" class="flex justify-content-center align-items-center">Let's talk</button>
                                </div>
                                </div>                                
                            </form>
                            </div><!-- .entry-content -->    
                        </div><!-- .hero-content-wrap -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .hero-content-hero-content-overlay -->
    </div><!-- .hero-content --> 
</body>
