<body>
        <div class="hero-content">
            <div class="hero-content-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-content-wrap flex flex-column justify-content-center align-items-start">
                            <header class="entry-header">
                                <h4>Get started with sharing experiences</h4>
                                <h1>Best Work<br/>Discussion Forum</h1>
                            </header><!-- .entry-header -->

                            <div class="entry-content">
                                <p>CAP 805 - Project Management - Trio - Group 3 - Discusssion Forum - We aim to develop an environment for people to exchange their experiences in the industries.</p>
                            </div><!-- .entry-content -->

                            <footer class="entry-footer read-more">
                                <a href="/industry">read more</a>
                            </footer><!-- .entry-footer -->
                        </div><!-- .hero-content-wrap -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
            </div><!-- .hero-content-hero-content-overlay -->
        </div><!-- .hero-content -->        
        </div>
</body>
