<body>
  <div class="hero-content">
    <div class="hero-content-overlay">
            <div class="container">
              <div class="row">
                    <div class="col-12">
                        <div class="hero-content-wrap flex flex-column justify-content-center align-items-start">
                            <div class="entry-content">
                                <a href="/register">No account? Click here!</a>
                                {{#if errorMsg}}
                                  <h4>{{errorMsg}}</h4>
                                {{else}}
                                  <h4>Please login below</h4>
                                {{/if}}
                                <form method="post" action="/login">
                                <div class="mb-3">
                                  <label for="exampleInputUsername1" class="form-label">User Name</label>
                                  <input name="username" class="form-control" type="text"  maxlength = "16">        
                                </div>
                                <div class="mb-3">
                                  <label for="exampleInputPassword1" class="form-label">Password</label>
                                  <input name="password" type="password" class="form-control" id="exampleInputPassword1"  maxlength = "16">
                                </div>
                                <div class="mb-3 form-check">
                                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                  <label class="form-check-label" for="exampleCheck1">Remember My Account</label>
                                </div>              
                                  <button type="submit" class="flex justify-content-center align-items-center">Submit</button>
                                </form>
                            </div><!-- .entry-content -->
                        </div><!-- .hero-content-wrap -->
                    </div><!-- .col -->
                </div><!-- .row -->
  </div><!-- .container -->
  </div><!-- .hero-content-hero-content-overlay -->
  </div><!-- .hero-content -->
</body>